
body {
  color: #FFFFFF;
  font-size: 20px;
  font-family: "Montserrat", "Times", sans-serif;
  background-color: #707070;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  background-color: #ddd;
  border-style: groove;
  padding: 10px;
  color: #02075d;
  text-align: left;
}

h3 {
  color: #02075d;
}

figure {
  text-align: center;
}

a:link {
  color: #3733FF;
}

a:hover {
  color: #FF0000;
}

a:active {
  color: #3733FF;
}

div {
  margin: 0px;
  padding: 0px;
}
